body{
    background-color: #1d7fca;
}
.BackGround{
    background-image: url("https://wallpaperaccess.com/full/1478189.jpg");
    background-repeat: no-repeat;
    background-size: 1535px 1010px;
    height: 2000px;
    width: 2000px;
    z-index: -50;
    position: fixed;
    opacity: 0.25;
}

.Head{
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100px;
    color: #fff;
    background: #1a4668;
    padding-top: 20px;
    font-size: 130%;
}
.AboutOutlook{
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 500px;
    color: #000;
    padding-top: 10px;
    font-weight: 500;
}
.VersionsOfOutlook{
    height: 600px;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #1a4668;
    color: #fff;
    padding-top: 40px;
}
.OutlookVid{
    height: 600px;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    padding-top: 30px;
}
.Steps{
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 330px;
    background: #1a4668;
    color: #fff;
    padding-top: 1px;
}

