body{
    background-color: #ffd1c6;
}
.BackGround{
    background-image: url("https://triadhiwibowo.files.wordpress.com/2011/04/orange-office-room-interior-design-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 1535px 1010px;
    height: 2000px;
    width: 2000px;
    z-index: -50;
    position: fixed;
    opacity: 0.4;
}
.Header{
    background: #4e322c;
    height: 80px;
    padding: 3px;
}
.MoreDrop-content li{
    padding: 15px;
    padding-bottom: 18px;
    padding-top: 18px;
    margin: 0px;
    list-style-type: none;
    background: #4e322c;
}

.Head{
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100px;
    color: #fff;
    background: #822c18;
    padding-top: 20px;
    font-size: 130%;
}
.AboutPowerPoint{
    font-weight: 500;
    height: 380px;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    padding-top: 30px;
}
.Uses{
    height: 300px;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #822c18;
    color: #fff;
    padding-top: 10px;
}

footer{
    clear: both;
    background: #4e322c;
    margin-top: 0px;
    text-align: center;
    padding:  50px;
    color: #fff;
}